:root {
    --clr-primary: #FFE8D3;
    --clr-secondary: #FE6F1F;
    --accent-color: #C14C8D;
    --clr-bg: #17242C;
    --clr-btn-hover: #41464a;
    --clr-btn-secondary-hover: #f89962;
    /* --clr-btn-circle: rgba(23, 36, 44, 0.4); */
    --gradient-primary: linear-gradient(to right,#FE6F1F 25%, #F24B64 50%, #C14C8D 75%);

    --gradient-bg: linear-gradient(225deg ,#17242C 0%, #182b33 50%, #17323c 60%, #163944 70%, #14414b 100%);
    --ff-primary: Sansation, serif;
    --ff-secondary: Oxanium, serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    background: #000;
    color: var(--clr-secondary);
}

.clr-primary {
    color: var(--clr-primary)
}

.clr-secondary {
    color: var(--clr-secondary)
}

p {
    color: var(--clr-primary);
}


.icn-secondary {
    filter: invert(43%) sepia(98%) saturate(1017%) hue-rotate(347deg) brightness(103%) contrast(99%);
}

.icn-primary {
    filter: invert(11%) sepia(32%) saturate(446%) hue-rotate(161deg) brightness(98%) contrast(96%);
}

.icn-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em
}

.icon {
    width: 1.25em;
}
.divider {
    height: 0.25rem;
    background: var(--gradient-primary);
    width: 67%;
    margin: 2rem 0;
}

h1, 
h2, 
h3 {
    font-family: var(--ff-secondary);
    color: var(--clr-secondary);
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--clr-primary);
    font-weight: bold;
}

section {
    flex-basis: 100%;
    padding-top: 2rem;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 4rem;
    padding-inline: 4rem;
    background-image: var(--gradient-bg);
    background-size: 400%;
    animation: bg-animation 12s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: right;}
    100% {background-position: left;}
}


/* NAVBAR */

nav {
    /* margin-inline: 4rem; */
    /* background: var(--clr-bg); */
    background: transparent;
    /* padding-left: 4rem; */
    width: 100%;
    padding-block: 2rem;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav::after {
    content: "";
    color: #000;
    width: calc(100% + 10rem);
    height: 4px;
    position: absolute;
    top: 100%;
    left: -5rem;
    box-shadow: 0px 8px 8px #000a;

}


.nav-mark {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--clr-primary);
    justify-self: flex-start;

}

.nav-buttons-container {
    justify-self: flex-end;
    display: flex;
}

/* HERO */

#hero {
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}

#hero > * {
    min-width: 0;
    min-height: 0;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.img-avatar {
    max-width: 300px;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: span 3;
}


.introduction {
    grid-area: 1 / 2 / 1 / 4;
}

#hero > p {
    grid-area: 2 / 2 / 2 / 3;
    align-items: center;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 300;
}

.hero-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: space-between;
    gap: 1rem;
    grid-area: 3 / 2 / 3 / 4;
}

/* ABOUT */

#overview h2 {
    text-align: left;
}

#overview {
    display: flex;
    justify-content: center;

}

.work-areas {
    min-width: max-content;
    min-height: max-content;
    margin: 0 4rem;
}

.work-areas ul {
    color: var(--clr-primary);
    list-style: none;
    line-height: 1.6;
    font-size: 1.2rem;
}

.work-areas .icn-inline {
    justify-content: left;
}

/* .areas-list-flex {
    display: flex;
    min-width: max-content;
    min-height: max-content;
    gap: 16px;
    align-items: center;
} */


#overview {
    display: flex;
    justify-content: center;
}


.about-me {
    max-width: 30%;
    margin: 0 64px;
}

.about-me p {
    font-size: 1.5rem;
}

/* PROJECTS */

#projects {
    justify-content: center;
}

#projects {
    max-width: 67%;
    justify-content: center;
    align-content: center;
}


#projects h2{
    text-align: center;
}

/* SKILLS */

#skills h2 {
    text-align: center;
}

.cards-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    gap: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}


.language-card {
    border: 1px solid var(--clr-secondary);
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 30px;
    transform-style: preserve-3d;
    transition: all 1s linear;
    background: transparent;

    /* background-color: var(--clr-bg) */
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    gap: 1rem;
    align-items: center;
    /* background: var(--gradient-bg); */
    background: transparent;
}

.card-front {
    background: transparent;
}

.card-back {
    background: transparent;
    transform: rotateY(180deg);
}

.language-card:hover, 
.language-card:focus {
    transform: rotateY(180deg);
}

.card-content {
    padding-inline: 1em;
    margin: 0;
    font-size: 1.25rem;
}

/* CONTACT */
#contact {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
    z-index: 2;
    overflow: visible;
}

#contact h2 {
    grid-column: 1 / 6;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 1em;
}



/* ---BUTTONS--- */
.btn-primary {
    border: 2px solid var(--clr-secondary);
    background: transparent;
    }
    
.btn-secondary {
    border: 2px solid var(--clr-primary);
    background: var(--clr-secondary);
    }
        
.btn-rect {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: content-box;
    position: relative;
    }

.btn-rect *:not(.icon, .icn-text) {
    width: 100%;
    height: 100%;
    /* min-height: 2.5rem; */
    border-radius: 20px;
    position: relative;
}
.btn-rect-box > a {
    position: absolute;
    top: 0;

}

.btn-rect-content {
    padding-block: 0.5rem;
}

.btn-rect:hover .btn-rect-content,
.btn-circle:hover .icon, 
.btn-rect:focus .btn-rect-content,
.btn-circle:focus .icon {
    transform: scale(1.2);
    transition: 0.3s ease-in
}

.btn-circle {
    position: relative;
    border-radius: 100%;
    border: 0.125rem solid var(--clr-secondary);
    width: 4rem;
    height: 4rem;
    background: transparent;
    overflow: visible;
}

.btn-circle:hover, 
.btn-rect:hover 
.btn-circle:focus, 
.btn-rect:focus {
    cursor: pointer;
}

.btn-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 2;
}

.btn-box::after, 
.btn-box::before {
    content: "";
    position: absolute;
    inset: -0.4rem;
    border-radius: inherit;
    pointer-events: none;
}

.btn-circle:hover .btn-box::after, 
.btn-circle:focus .btn-box::after {    
    background: conic-gradient(from var(--angle), transparent 10%, #FE6F1F, #F24B64, #C14C8D, #FE6F1F);
    animation: border-rotation 2.5s linear infinite, fade 0.5s linear 1;
    z-index: -1;
}

.btn-circle:hover .btn-box::before,
.btn-circle:focus .btn-box::before {
    z-index: -2;
    background: conic-gradient(from var(--angle), transparent 10%, #FE6F1F, #F24B64, #C14C8D, #FE6F1F);
    animation: blur-rotation 2.5s linear infinite, border-rotation 2.5s linear infinite, fade 0.5s linear 1;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes border-rotation {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@keyframes blur-rotation {
    from {
        filter: blur(1.25rem);
    }
    to {
        filter: blur(1rem);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}


.btn-circle:hover .btn-cover,
.btn-primary:hover .btn-rect-primary-cover, 
.btn-circle:focus .btn-cover,
.btn-primary:focus .btn-rect-primary-cover {
    background: var(--clr-btn-hover);
    z-index: 2;
    animation: fade 0.1s ease-out 1;
}

.btn-secondary:hover .btn-rect-secondary-cover,
.btn-secondary:focus .btn-rect-secondary-cover {
    background: var(--clr-btn-secondary-hover);
    z-index: 2;
    animation: fade 0.1s ease-out 1;
}



.btn-circle .icon {
    width: 1.5rem;
    position: absolute;
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
    z-index: 3;
}

.btn-rect-box::after, 
.btn-rect-box::before {
    content: "";
    position: absolute;
    inset: -0.25rem;
    border-radius: inherit;
    pointer-events: none;
}

.btn-rect:hover .btn-rect-box::after, 
.btn-rect:focus .btn-rect-box::after {    
    background: conic-gradient(from var(--angle), transparent 10%, #FE6F1F, #F24B64, #C14C8D, #FE6F1F);
    animation: border-rotation 2.5s linear infinite, fade 0.5s linear 1;
}

.btn-rect:hover .btn-rect-box::before, 
.btn-rect:focus .btn-rect-box::before 
{
    background: conic-gradient(from var(--angle), transparent 10%, #FE6F1F, #F24B64, #C14C8D, #FE6F1F);
    animation: blur-rotation 2.5s linear infinite, border-rotation 2.5s linear infinite, fade 0.5s linear 1;
}

.btn-secondary:hover, 
.btn-secondary:focus 
{
    border-color: var(--clr-btn-secondary-hover);
}


.btn-nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    position: relative;
    width: max-content;
    padding: 0.5em;
    margin-right: 3rem;
    transition: 150ms ease-in-out;
}

.btn-nav a:hover, 
.btn-nav a:focus {
    transform: scale(1.1);
}

.btn-nav a::after {
    content: "";
    width: 0px;
    height: 4px;
    background: var(--gradient-primary);
    position: absolute;
    align-self: flex-end;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    transition: 300ms ease-in-out;
}

.btn-nav a:hover::after, 
.btn-nav a:focus::after 
{
    width: 100%;
}

.btn-nav a:active {
    color: var(--clr-secondary);
}

/* FOOTER */

footer {
    margin: 4rem;
    border-top: 2px solid var(--clr-primary);
    text-align: center;
}